/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.kontakt {
	border: 1px solid rgb(168, 168, 168);
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	box-shadow: 1px 0 4px rgba(0, 0, 0, 0.185);
}

img {
	border-radius: 50%;
	align-self: center;
}

@media screen and (min-width: 540px) {
	
	main {
		display: flex;
	}

	article {
		padding: 10px;
		text-align: start;
	}

	div {
	display: flex;
	flex: 1 0 50%;
	}

	.pravy,
	.levy {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		flex-shrink: 0;
	}

	.img {
		align-self: auto;
	}

}

@media screen and (min-width: 960px) {


	div {
		flex-basis: calc(100% / 4);
	}

	.kontakt {
		display: block;
	}

	article {
		text-align: center;
		padding: 0;
	}
}